doctype html

html(lang='en', hola_ext_inject='disabled')
  
  head
    title Auth0
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='https://cdn.auth0.com/styleguide/2.0.1/lib/logos/img/favicon.png')
    meta(name='description', content='auth0/manage boilerplate')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', type='text/css', href='https://cdn.auth0.com/styleguide/4.8.12/index.min.css')
    link(rel='stylesheet', type='text/css', href='main.css')
    script(type='text/javascript', src='https://cdn.auth0.com/manage/v0.3.973/components/ZeroClipboard/ZeroClipboard.js')
    script(type='text/javascript', src='https://cdn.auth0.com/manage/v0.3.973/js/bundle.js')
 
  body.a0-extension
    .container
      .row
        block content
