extends inc/layout

block content

  #modal-sample.modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-backdrop
    .modal-dialog
      .modal-content
        .modal-header.has-border
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4#myModalLabel.modal-title Modal title
        .modal-body
          .row
            .col-xs-12.form-group
              label.control-label.col-xs-3 Sample Field
              .col-xs-9
                input.input-block-level.form-control(type='text', name='name', placeholder='Awesome-Database', required='', autofocus='')
                p.help-block This is a logical identifier of the connection.
            .col-xs-12.form-group    
              label.control-label.col-xs-3 Sample Field
              .col-xs-9
                input.input-block-level.form-control(type='text', name='name', placeholder='Aed724smjeY', required='', autofocus='')
                p.help-block This is a logical identifier of the connection.

        .modal-footer
          button.btn.btn-primary(type='button') Save changes

  section.content-page.current
    .col-xs-10.text-center.pull-right
        
        img(src="images/rules-next-icon.svg")

        h2 Rules Next
        p No items have been added to this section.
          br
          a(href="#") Learn More

        div.btn.btn-success(data-toggle='modal', data-target='#modal-sample')
          span.btn-icon.icon-budicon-473
          Create Add New Rule